* {
    box-sizing: border-box;
}
body {
    padding: 0 20%;
}
.fake {
    background-color: #999;
    height: 400px;
    margin: 100px 0;
}
.box{
    background-color: red;
    height: 600px;
    width: 100%;
}
p, h3 {
    text-align: center;
    color:white;
    margin: 0%;

}
p{
    font-size: 20px;
}
h3{
    font-size: 100px;
}
.foot{
    text-align: center;
    color: #222222;
    padding: 5px;
    margin-right: 5px;

}
a{
    background-color: white;
}
a:last-child{
    margin-right: 0%;
}
.sale{
    padding: 150px 0 200px 0;
}
